<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Help</title>

    <style>
        #toc_container {
            background: #f9f9f9 none repeat scroll 0 0;
            border: 1px solid #aaa;
            display: table;
            font-size: 95%;
            margin-bottom: 1em;
            padding: 20px;
            width: auto;
        }

        .toc_title {
            font-weight: 700;
            text-align: center;
        }

        #toc_container li, #toc_container ul, #toc_container ul li{
            list-style: outside none none !important;
        }

        img {
            width: 75%;
        }
    </style>
  </head>
  <body>
        <p>
            Change Language to <a href="Help_de.html">German</a>.
        </p>
        <div id="toc_container">
            <p class="toc_title">Table of Contents</p>
            <ul class="toc_list">
                <li><a href="#basic_usage">1 Basic Usage</a></li>
                <li><a href="#settings">2 Settings</a></li>
                <li><a href="#propositional_logic">3 Propositional Logic</a>
                    <ul>
                        <li><a href="#propositional_logic_syntax">3.1 Syntax Definition</a></li>
                        <li><a href="#propositional_logic_precedence">3.2 Operator Precedences</a></li>
                    </ul>
                </li>
                <li><a href="#fopl">4 First-Order Predicate Logic</a>
                    <ul>
                        <li><a href="#fopl_syntax">4.1 Syntax Definition</a></li>
                        <li><a href="#fopl_precedence">4.2 Operator Precedences</a></li>
                    </ul>
                </li>
                <li><a href="#ipl">5 Intuitionistic Propositional Logic</a>
                    <ul>
                        <li><a href="#ipl_syntax">5.1 Syntax Definition</a></li>
                        <li><a href="#ipl_precedence">5.2 Operator Precedences</a></li>
                    </ul>
                </li>
                <li><a href="#ifopl">6 Intuitionistic First-Order Predicate Logic</a>
                    <ul>
                        <li><a href="#ifopl_syntax">6.1 Syntax Definition</a></li>
                        <li><a href="#ifopl_precedence">6.2 Operator Precedences</a></li>
                    </ul>
                </li>
                <li><a href="#modes">7 Modes</a>
                    <ul>
                        <li><a href="#modes_auto">7.1 Automatic</a></li>
                        <li><a href="#modes_manual">7.2 Manual</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <h1 id="basic_usage">Basic Usage</h1>
        <p>
            The usage of the Tableau Prover is kept relatively simple.
            Formulae are entered in the text areas in the center of the drawing canvas.
            To enter multiple formulae, enter those in different lines.
            To start the atomatic or manual calculation, press the "Calculate"-button below the text areas.
            The Settings are described in the <a href="#settings">settings</a> section.
        </p>

        <h1 id="settings">Settings</h1>
        <p>
            There are two kinds of settings. The first one defines the logic used and the second one whether or not the Tableau should be automatically solved.
            The available logic types are "Propositional Logic (PL)", "First-Order Predicate Logic (FOPL)", "Intuitionistic Propositional Logic (IPL)" and "Intuitionistic First-Order Predicate Logic (IFOPL)"
            To change the logic, change the selected radio button on top of the window.
        </p>
        <div>
            <img src="images/change_logic.png"/>
        </div>
        <p>
            To change, whether or not the Tableau should be solved automatically, change the selected radio button below the logic settings.
            If "Manual" is selected, you can enter the steps of solving the Tableau manually. The program checks, whether or not the entered steps are valid.
            If "Automatic" is selected, the Tableau is fully solved automatically if possible.
        </p>
        <div>
            <img src="images/change_mode.png"/>
        </div>
        <p>
            After calculating a Tableau, it is possible to reset the screen by pressing the X-Button at the upper left corner of the Scroll-Area.
        </p>
        <div>
            <img src="images/reset_screen.png"/>
        </div>


        <h1 id="propositional_logic">Propositional Logic</h1>
        <p>
            If the logic type "Propositional Logic (PL)" is selected, the syntax and operator precedences defined in this section are applied.
        </p>
        <h2 id="propositional_logic_syntax">Syntax Definition</h2>
        <p>
            The Propositional Logic has 5 Operators (Negation, Conjunction, Disjunction, Conditional, and Biconditional).
            These can be entered as Keyboard-Friendly characters:

            <ul class="toc_list">
                <li><b>Negation (¬):</b> ! or -</li>
                <li><b>Conjunction (∧):</b> & or *</li>
                <li><b>Disjunction (∨):</b> | or +</li>
                <li><b>Conditional (→):</b> -&gt</li>
                <li><b>Biconditional (↔):</b> &lt-&gt</li>
            </ul>

            Propositions can contain uppercase/lowercase letters and numbers.
        </p>
        <h2 id="propositional_logic_precedence">Operator Precedences</h2>
        <p>
            To avoid unreadability due to too many clamps, the Operators got Precedences. An Operator with higher Precedence is evaluated first.
            I.e. with & having higher precedence then |, (A&B)|C is the same as A&B|C.
            The Operator Precedences are as follows:
            <ul class="toc_list">
                <li><b>1. Negation</b></li>
                <li><b>2. Conjunction</b></li>
                <li><b>3. Disjunction</b></li>
                <li><b>4. Conditional</b></li>
                <li><b>5. Biconditional</b></li>
            </ul>
        </p>


        <h1 id="fopl">First-Order Predicate Logic</h1>
        <p>
            If the logic type "First-Order Predicate Logic (FOPL)" is selected, the syntax and operator precedences defined in this section are applied.
            Please note that it is possible to enter functions, for example in P(f(X, Y)) the Predicate P got the function f as an argument. But there is no possibility to enter a custom evaluation of functions.
            Functions are considered equal, if and only if, all its input arguments are equal.
        </p>
        <h2 id="fopl_syntax">Syntax Definition</h2>
        <p>
            First-Order Predicate Logic has 7 Operators (Negation, Conjunction, Disjunction, Conditional, Biconditional, Univeral Quantification, and Existential Quantification).
            These can be entered as Keyboard-Friendly characters:

            <ul class="toc_list">
                <li><b>Universal Quantifier (∀):</b> (A) or /\</li>
                <li><b>Existential Quantifier (∃):</b> (E) or \/</li>
                <li><b>Negation (¬):</b> ! or -</li>
                <li><b>Conjunction (∧):</b> & or *</li>
                <li><b>Disjunction (∨):</b> | or +</li>
                <li><b>Conditional (→):</b> -&gt</li>
                <li><b>Biconditional (↔):</b> &lt-&gt</li>
            </ul>

            <b>Constants, Predicates</b> have to start with an uppercase letter. Therafter they can contain uppercase/lowercase letters, numbers and underscores.<br/>
            <b>Variables, Functions</b> have to start with a lowercase letter. Thereafter they can contain uppercase/lowercase letters and numbers.<br/>
            <br/>
            A quantifier is always followed by one ore more comma separated variable names, followed by a space, followed by the expression in the scope of the quantifier.
            Examples are:
            <ul class="toc_list">
                <li>(A)x P(x)</li>
                <li>(E)x P(x)</li>
                <li>(A)x,y (P(x)&P(y))</li>
            </ul>
        </p>
        <h2 id="fopl_precedence">Operator Precedences</h2>
        <p>
            To avoid unreadability due to too many clamps, the Operators got Precedences. An Operator with higher Precedence is evaluated first.
            I.e. with & having higher precedence then |, (A&B)|C is the same as A&B|C.
            The Operator Precedences are as follows:
            <ul class="toc_list">
                <li><b>1. Universal Quantification</b></li>
                <li><b>2. Existential Quantification</b></li>
                <li><b>3. Negation</b></li>
                <li><b>4. Conjunction</b></li>
                <li><b>5. Disjunction</b></li>
                <li><b>6. Conditional</b></li>
                <li><b>7. Biconditional</b></li>
            </ul>
        </p>


        <h1 id="ipl">Intuitionistic Propositional Logic</h1>
        <p>
            If the logic type "Intuitionistic Propositional Logic (IPL)" is selected, the syntax and operator precedences defined in this section are applied.
        </p>
        <h2 id="ipl_syntax">Syntax Definition</h2>
        <p>
            The Intuitionistic Propositional Logic has 5 Operators (Negation, Conjunction, Disjunction, Conditional and Biconditional).
            These can be entered as Keyboard-Friendly characters:

            <ul class="toc_list">
                <li><b>Negation (¬):</b> ! or -</li>
                <li><b>Conjunction (∧):</b> & or *</li>
                <li><b>Disjunction (∨):</b> | or +</li>
                <li><b>Conditional (→):</b> -&gt</li>
                <li><b>Biconditional (↔):</b> &lt-&gt</li>
            </ul>

            Propositions can contain uppercase/lowercase letters and numbers.
            <br/>
            While calculating a Tableau, the prover uses next to the sets of true and false expressions a third set of certainly false expressions.
            An expression contained in this set is written on the righthand side of the tableau and surrounded by square brackets.
        </p>
        <h2 id="ipl_precedence">Operator Precedences</h2>
        <p>
            To avoid unreadability due to too many clamps, the Operators got Precedences. An Operator with higher Precedence is evaluated first.
            I.e. with & having higher precedence then |, (A&B)|C is the same as A&B|C.
            The Operator Precedences are as follows:
            <ul class="toc_list">
                <li><b>1. Negation</b></li>
                <li><b>2. Conjunction</b></li>
                <li><b>3. Disjunction</b></li>
                <li><b>4. Conditional</b></li>
                <li><b>5. Biconditional</b></li>
            </ul>
        </p>


        <h1 id="ifopl">Intuitionistic First-Order Predicate Logic</h1>
        <p>
            If the logic type "Intuitionistic First-Order Predicate Logic (IFOPL)" is selected, the syntax and operator precedences defined in this section are applied.
            Please note that it is possible to enter functions, for example in P(f(X, Y)) the Predicate P got the function f as an argument. But there is no possibility to enter a custom evaluation of functions.
            Functions are considered equal, if and only if, all its input arguments are equal.
        </p>
        <h2 id="ifopl_syntax">Syntax Definition</h2>
        <p>
            Intuitionistic First-Order Predicate Logic has 7 Operators (Negation, Conjunction, Disjunction, Conditional, Biconditional, Univeral Quantification, and Existential Quantification).
            These can be entered as Keyboard-Friendly characters:

            <ul class="toc_list">
                <li><b>Universal Quantifier (∀):</b> (A) or /\</li>
                <li><b>Existential Quantifier (∃):</b> (E) or \/</li>
                <li><b>Negation (¬):</b> ! or -</li>
                <li><b>Conjunction (∧):</b> & or *</li>
                <li><b>Disjunction (∨):</b> | or +</li>
                <li><b>Conditional (→):</b> -&gt</li>
                <li><b>Biconditional (↔):</b> &lt-&gt</li>
            </ul>

            <b>Constants, Predicates</b> have to start with an uppercase letter. Therafter they can contain uppercase/lowercase letters, numbers and underscores.<br/>
            <b>Variables, Functions</b> have to start with a lowercase letter. Thereafter they can contain uppercase/lowercase letters and numbers.<br/>
            <br/>
            A quantifier is always followed by one ore more comma separated variable names, followed by a space, followed by the expression in the scope of the quantifier.
            Examples are:
            <ul class="toc_list">
                <li>(A)x P(x)</li>
                <li>(E)x P(x)</li>
                <li>(A)x,y (P(x)&P(y))</li>
            </ul>
            <br/>
            While calculating a Tableau, the prover uses next to the sets of true and false expressions a third set of certainly false expressions.
            An expression contained in this set is written on the righthand side of the tableau and surrounded by square brackets.
        </p>
        <h2 id="ifopl_precedence">Operator Precedences</h2>
        <p>
            To avoid unreadability due to too many clamps, the Operators got Precedences. An Operator with higher Precedence is evaluated first.
            I.e. with & having higher precedence then |, (A&B)|C is the same as A&B|C.
            The Operator Precedences are as follows:
            <ul class="toc_list">
                <li><b>1. Universal Quantification</b></li>
                <li><b>2. Existential Quantification</b></li>
                <li><b>3. Negation</b></li>
                <li><b>4. Conjunction</b></li>
                <li><b>5. Disjunction</b></li>
                <li><b>6. Conditional</b></li>
                <li><b>7. Biconditional</b></li>
            </ul>
        </p>


        <h1 id="modes">Modes</h1>
        <h2 id="modes_auto">Automatic</h2>
        <p>
            If the mode "Automatic" is selected, the tableau prover trys to solve the tableau automatically after pressing "Calculate".<br/>
            The default number of derivation steps performed are &lt=1000. After 1000 steps, the solving attempt is aborted and a error message is shown.
            In the current version this number can not be changed.
        </p>
        <h2 id="modes_manual">Manual</h2>
        <p>
            If the mode "Manual" is selected, each derivation step is performed by the user.<br/>
            To perform such a step, first select the formula to derive by pressing the button representing this formula.
            <div>
                <img src="images/select_formula.png"/>
            </div>
            After pressing the formula-button, a second window opens up.
            In this window the derivation of that formula can be entered.
            <br/>
            If the derivation is not branching, enter the derivation under the "Single"-tab and press the "Ok"-button.
            <div>
                <img src="images/single_derivation.png"/>
            </div>
            If the derivation is branching, enter the derivation under the "Branch"-tab and press the "Ok"-button.
            <div>
                <img src="images/branch_derivation.png"/>
            </div>
            After pressing ok, the window closes and the tableau is updated.
            <br/>
            A derivation is only considered valid applying one rule at the time.
            I.e. a the following is not valid.
            <div>
                <img src="images/invalid_derivation.png"/>
            </div>
            While the following, only applying the derivation rule for the disjunction is.
            <div>
                <img src="images/valid_derivation.png"/>
            </div>
            <br/>
            Quantifiers are a special case. To derive a quantifier that introduces a new constant, use any constant not used in the current tableau branch.
            A derivation of quantifiers that do not introduce new constants, have to use all introduced constants that havent been applied to that quantifier.
            I.e. in the following situation, the quantifier (E)x D(x) has been already applied to the constant X1.
            <div>
                <img src="images/derivation_quantifier_before.png"/>
            </div>
            Since that, the two constants X2 and X3 have been introduced.
            A valid derivation of (E)x D(x) has to apply both.
            <div>
                <img src="images/derivation_quantifier_entering.png"/>
            </div>
        </p>
  </body>
</html>